export ADDR=":8080"
EXTERNAL_URL="http://localhost:8080"
export DB_ADDR="postgresql://jagres:Jagres112.@localhost/gotokopedia?sslmode=disable"
export ENV="development"
export REDIS_ENABLED="true"
export FROM_EMAIL="mochammad.yogaprasetya112@gmail.com"
export MAIL_HOST="email-smtp.ap-southeast-1.amazonaws.com"
export MAIL_PORT=587
export MAIL_USERNAME="AKIAUJ3VUEHXL7D4SEVL"
export MAIL_PASSWORD="BN69fKzVY1wIx1yV8TtIeOIt/P25MLmHzjzsMUMH5B7d"
export MAIL_SENDER="mochammad.yogaprasetya112@gmail.com"

export JWT_SECRET="JAG Res s secret"
export SESSION_SECRET="JAG Res s secret"
export GOOGLE_CLIENT_ID="775956479285-bnstik8a664i0vgu3jp91iflk5i51n8q.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="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"
export GOOGLE_CALLBACK_URL="http://localhost:5000/auth/google/callback"