{{define "subject"}} Welcome to our site {{end}}

{{define "plainBody"}}
Hi {{.Username}},
Thanks for signing up for JagresSocial. We're excited to have you on board!
{{.ActivationURL}}
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <style>
    .container {
      max-width: 700px;
      padding: 20px;
      border: solid #CCC 1px;
    }
  </style>
</head>

<body>
  <div class="container">
    <p>Hi {{.Username}},</p>
    <p>Thanks for signing up for JagresSocial. We're excited to have you on board!</p>
    </p>
    <p>Before you can start using JagresSocial, you need to confirm your email address. Click the link below to
      confirm
      your email address:</p>
    <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
    <p>If you want to activate your account manually copy and paste the code from the link above</p>
    <p>If you didn't sign up for JagresSocial, you can safely ignore this email.</p>

    <p>Thanks,</p>
    <p>The JagresSocial Team</p>
  </div>
</body>

</html>
{{end}}